BOT_TOKEN="1234567890:ABCdefGHIjklMNOpqrsTUVwxyZ"
ADMIN_ID="123456789"
TARGET_CHANNEL_ID="@sizning_kanalingiz"

# AI Provayderlaridan birini (yoki hammasini) kiritishingiz mumkin (BEPUL):
GEMINI_API_KEY=""       # https://aistudio.google.com (1500 request/day BEPUL)
GROQ_API_KEY=""         # https://console.groq.com (14400 request/day BEPUL, Llama-3.3)
OPENROUTER_API_KEY=""   # https://openrouter.ai (Bepul DeepSeek & Llama modellar)
